* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    overflow-x: hidden;
}
.display_none {
    display: none;
}
.gap_0{
    gap: 0px;
}